.c.function {
    background: #e7f2fa;
    color: #2980b9;
    border-top: 3px solid #6ab0de;   
}

.sig.sig-object.c {
    display: table;
    margin: 6px 0;
    margin-top: 6px;
    font-size: 90%;
    position: relative;
    border-top: none !important;
}

.sig.sig-object.c:nth-child(n+2)::before {
    content: "\20\20\20\20\20\20\20\20\20\20\20\20\20\20\20";
    white-space: pre;
}
